<html>

<head>
    <title>Chat bot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="cat">
        <h1 style="text-align:center;">Chat bot</h1>
        <center><form method="POST" action="">
            <br />
            <textarea readonly id="textarea" name="mymsg">{{dialog}}</textarea>
            <br />
            <input type="text" name="botmsg" placeholder="insert your Message...">
            <input type="submit" value="send" />
        </form>
    </div>
